[submodule "dm_production"]
	path = dm_production
	url = https://github.com/galpwrapper/dm_production.git
[submodule "interpolator"]
	path = interpolator
	url = https://github.com/galpwrapper/interpolator.git
[submodule "pp_antiproton"]
	path = pp_antiproton
	url = bitssh:galpwrapper_bi/pp_antiproton.git
[submodule "utils"]
	path = utils
	url = https://github.com/galpwrapper/utils.git
[submodule "antinucleus"]
	path = antinucleus
	url = bitssh:galpwrapper_bi/antinucleus.git
