require 'rake/loaders/makefile'

DLIST = FileList[] # the class that you want to debug
DEBUG = '-D_DEBUG -DDEBUG_TO_FILE' # the debug option: '', '-D_DEBUG' or '-DDEBUG_TO_FILE'
EXCLUDE = FileList[''] # the class to exclude in when compiling
PREFIX = "#{Dir.home}"  # The path you want to install
STATIC = true # generate a static library or a dinamic library
GALPWRAPPER_DIR = File.expand_path('~/galprop/V55') # The direction that installing the galpwrapper it would be ignored if unavailable
VERBOSE = :detail # :detail or :brief

CC = 'ccache g++'
CFLAG = '-std=c++0x -Wall -g -O2'

FLAGS = %w(NO_ROOT)

import("main.rake")
